/*dark background to support form theme*/
body {
	background:
		url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png);
}

/*sass variables used*/
$
full: 100%;
 $auto: 0 auto ;
 $align:right ;

 @mixin disable {
	outline: none;
	border: none;
}

@
mixin easeme {
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	-ms-transition: 1s ease;
	transition: 1s ease;
}

#image {
	width: 100%;
}

/*site container*/
.wrapper {
	width: 600px;
	margin: auto;
}

h1 {
	text-align: $align;
	padding: 30px 0px 0px 0px;
	font: 25px Oswald;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: #000 0px 1px 5px;
	margin: 0px;
}

p {
	font: 14px Open Sans;
	color: #6E6E6E;
	text-shadow: #000 0px 1px 5px;
	margin-bottom: 30px;
}

.form {
	width: $full;
}

.texte_white {
	color: white;
	text-align: center;
}

table, th, td {
	border: 1px solid rgba(26, 135, 143, 0.19);
	border-collapse: collapse;
}

tr:first-child td {
	font-weight: bolder;
}

table {
	width: 100%;
}

input[type="text"], input[type="email"], textarea, .emailList, input[type="password"] {
	width: 97%;
	padding: 15px 5px 15px 5px;
	border-radius: 5px;
	box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px
		rgba(255, 255, 255, 0.3);
	background: rgba(0, 0, 0, 0.2); @ include disable;
	border: 1px solid rgba(0, 0, 0, 1);
	margin-bottom: 10px;
	color: #6E6E6E;
	text-shadow: #000 0px 1px 5px;
}

.emailList a {
	color: white;
}

.emailList a:hover {
	color: grey;
}

.emailList a:visited {
	color: #28D2DE;
}

.menu {
	list-style-type: none;
	text-align: center;
	display: inline-flex;
	padding-left: 0;
	width: 100%;
}

.menu li {
	padding: 15px;
	border-radius: 5px; @ include disable;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE),
		to(#1A878F));
	background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
	font: 14px Oswald;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: #000 0px 1px 5px;
	border: 1px solid #000;
	opacity: 0.7;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
	-webkit-box-reflect: below 0px
		-webkit-gradient(linear, left top, left bottom, from(transparent),
		color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
	float: left;
	width: 20%;
	margin-left: 5%;
	margin-right: 5%;
}

.menu li a {
	color: white;
	text-decoration: none;
}

input[type="submit"],.bouton {
	width: 100%;
	padding: 15px;
	border-radius: 5px; @ include disable;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE),
		to(#1A878F));
	background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
	font: 14px Oswald;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: #000 0px 1px 5px;
	border: 1px solid #000;
	opacity: 0.7;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
	-webkit-box-reflect: below 0px
		-webkit-gradient(linear, left top, left bottom, from(transparent),
		color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

input:focus {
	box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px
		rgba(255, 255, 255, 0.3);
	background: rgba(0, 0, 0, 0.3);
	@
	include
	easeme;
}

input[type="submit"]:hover {
	opacity: 1;
	cursor: pointer;
}

.name-help, .email-help {
	display: none;
	padding: 0px;
	margin: 0px 0px 15px 0px;
}

.optimize {
	position: fixed;
	right: 3%;
	top: 0px;
}