<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<f:metadata>
	<f:viewParam name="token" value="#{eventConfirm.hash}"/>
	<f:viewAction action="#{eventConfirm.init}"/>
	</f:metadata>
<h:head>
	<meta charset="UTF-8"></meta>
	<title>Connexion</title>
	<link href="css/eventCreation.css" rel="stylesheet" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Oswald'
		rel='stylesheet' type='text/css'></link>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans'
		rel='stylesheet' type='text/css'></link>
</h:head>
<h:body>
	<div class="wrapper">
		<h1>Confirmation d'ajout à l'événement</h1>
		<br />
		<h1>#{eventConfirm.event.title}</h1>
		<br />
		<p>#{eventConfirm.event.description}</p>
		<br />
		<p>#{eventConfirm.user.email}</p>
		<br />
		<h:form class="form">
		<h:commandButton value="Je viens" action="#{eventConfirm.choose('ACCEPT')}" />
		<h:commandButton value="Je viens pas" action="#{eventConfirm.choose('DECLINE')}" />
		</h:form>
	</div>
	<p class="optimize">Optimized for Javengers!</p>
</h:body>
</html>