<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<f:metadata>
	<f:viewParam name="token" value="#{eventConfirmValidation.hash}"/>
	<f:viewAction action="#{eventConfirmValidation.init}"/>
	</f:metadata>
<h:head>
	<meta charset="UTF-8"></meta>
	<title>Connexion</title>
	<link href="css/eventCreation.css" rel="stylesheet" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Oswald'
		rel='stylesheet' type='text/css'></link>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans'
		rel='stylesheet' type='text/css'></link>
</h:head>
<h:body>
	<div class="wrapper">
		<h1>Vous serez #{eventConfirmValidation.subscriber.isPresentString} a l'evenement :</h1>
		<br />
		<h1>#{eventConfirmValidation.event.title}</h1>
		<br />
		<p>#{eventConfirmValidation.event.description}</p>
		<br />
		<p>#{eventConfirmValidation.user.email}</p>
	</div>
	<p class="optimize">Optimized for Javengers!</p>
</h:body>
</html>