<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:viewParam name="id" value="#{eventLink.idEvent}" />
	<f:viewAction action="#{eventLink.init}" />
</f:metadata>

<h:head>
	<meta charset="UTF-8"></meta>

	<title>Evenement crée</title>
	<link href="css/eventCreation.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Oswald'
		rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans'
		rel='stylesheet' type='text/css' />
</h:head>
<body>
	<ui:include src="/WEB-INF/bandeau.xhtml">
	<ui:param name="author" value="#{eventLink.author.username}"/>
	</ui:include>

	<nav>
		<ul class="menu">
			<li><a href="eventEdition.xhtml?id=#{eventLink.event.idEvent}">Evenement</a></li>
			<li><a href="eventLink.xhtml?id=#{eventLink.event.idEvent}">Statut</a></li>
			<li><a href="eventStat.xhtml?id=#{eventLink.event.idEvent}">Statistiques</a></li>
		</ul>
	</nav>
	<br />
	<br />
	<div class="wrapper">
		<h1>Inviter des amis à l'événement :</h1>
		<h1>#{eventLink.event.title}</h1>
		<br /> <br />
		<h:graphicImage id="image" alt=""
			value="FilesServlet/#{eventLink.event.fileName}" />


		<h:form class="form">
		<h:message for="email" style="color:red" />
			<h:inputText id="email" value="#{eventLink.emailList}"
				a:placeholder="Entrer l'email de la personne à inviter" />
			<h:commandButton value="Valider!" class="submit"
				action="#{eventLink.executeEventLink}" />
		</h:form>
		
		<br /> <br />
		<div class="texte_white">Membres invités</div>
		<div class="emailList">
			<table>
				<tr>
					<td>Email</td>
					<td>Statut</td>
					<td>Date d'envoi</td>
				</tr>

				<ui:repeat value="#{eventLink.subscribers}" var="subscriber">

					<tr>
						<td>#{subscriber.email}</td>
						<td><div align="center">
								<h:graphicImage alt="#{subscriber.isPresentString}"
									value="#{subscriber.iconeLink}" width="17" height="17" />
							</div></td>
						<td>#{subscriber.sendingDateString}</td>
					</tr>

				</ui:repeat>


			</table>
		</div>

	</div>
	<p class="optimize">Optimized for Javengers! - Username :
		#{eventLink.author.username}</p>
</body>
</html>