<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<f:metadata>
	<f:viewParam name="id" value="#{eventEdition.id}"/>
	<f:viewAction action="#{eventEdition.load}" />
	</f:metadata>
<h:head>
	<meta charset="UTF-8"></meta>
	<title>EventCreation</title>
	<link href="css/eventCreation.css" rel="stylesheet" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Oswald'
		rel='stylesheet' type='text/css'></link>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans'
		rel='stylesheet' type='text/css'></link>
</h:head>
<h:body>
	<ui:include src="/WEB-INF/bandeau.xhtml"/>
			<nav>
				<ul class="menu">
					<li><a href="eventEdition.xhtml?id=#{eventEdition.event.idEvent}">Evenement</a></li>
					<li><a href="eventLink.xhtml?id=#{eventEdition.event.idEvent}">Statut</a></li>
					<li><a href="eventStat.xhtml?id=#{eventEdition.event.idEvent}">Statistiques</a></li>
				</ul>
			</nav>
			<br/>
			<br/>
			<div class="wrapper">
				<h1>Edition d'évènements</h1>
				<p>Inserer un titre et une descprition svp</p>
				<h:form class="form" enctype="multipart/form-data">
				<h:inputText id="title" value="#{eventEdition.event.title}" />
				<h:inputTextarea rows="4" value="#{eventEdition.event.description}" />
					<br/>
					<p:fileUpload fileUploadListener="#{eventEdition.upload}" auto="true" />
					<br/>
					<h:commandButton class="submit" value="Editer!" action="#{eventEdition.editEvent}" />
				</h:form>
			</div>
</h:body>
</html>