<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8"></meta>
	<title>EventsList</title>
	<link href="css/eventCreation.css" rel="stylesheet" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Oswald'
		rel='stylesheet' type='text/css'></link>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans'
		rel='stylesheet' type='text/css'></link>
</h:head>
<h:body>
	<ui:include src="/WEB-INF/bandeau.xhtml"/>
	<div class="wrapper">
		<br />
		<h:form class="form">
			<h:commandButton value="creer un nouvel evenement"
				action="#{eventsList.createNewEvent}" />
			<br />
			<br />
			<div class="texte_white">Liste des evenements de
				#{eventsList.author.username}</div>
			<div class="emailList">
				<table>
					<ui:repeat value="#{eventsList.events}" var="event">
						<tr>
							<td><a href="#{event.linkToEventLinkServlet}">#{event.title}</a>
							</td>
						</tr>
					</ui:repeat>
				</table>
			</div>
		</h:form>
	</div>
</h:body>
</html>