<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta charset="UTF-8"></meta>
	<title>Connexion</title>
	<link href="css/eventCreation.css" rel="stylesheet" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Oswald'
		rel='stylesheet' type='text/css'></link>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans'
		rel='stylesheet' type='text/css'></link>
</h:head>
<h:body>
	<div class="wrapper">
	<a style="color:green"> #{bandeau.message} </a>
		<h1>Connexion</h1>
		<h:form class="form">
			<h:inputText id="username" value="#{login.username}"
				a:placeholder="Entrer un nom d'utilisateur" />
			<h:message for="username" />
			<h:inputSecret id="password" value="#{login.password}"
				a:placeholder="Entrer votre mot de passe" />
			<h:message for="password" />
			<h:commandButton value="Se connecter !" action="#{login.login}" />
		</h:form>
	</div>
	<p class="optimize">Optimized for Javengers!</p>
</h:body>
</html>