<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<f:metadata>
	<f:viewAction action="#{logout.logout}" />
	</f:metadata>
<h:head>
	<meta charset="UTF-8"></meta>
	<title>Logout</title>
	<link href="css/eventCreation.css" rel="stylesheet" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Oswald'
		rel='stylesheet' type='text/css'></link>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans'
		rel='stylesheet' type='text/css'></link>
</h:head>
<h:body>
</h:body>
</html>