<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<f:metadata>
	<f:viewParam name="id" value="#{queryBean.id}"/>
	<f:viewAction action="#{queryBean.load}"/>
	</f:metadata>
<head>
<title>hello</title>
</head>
<body>
<H1>query string</H1>

<h:form>
	<h:outputLabel>number to guess</h:outputLabel> 
	<h:inputText value="#{guessANumberBean.submitedNumber}"/>
	<h:commandButton value="Guess" action ="#{guessANumberBean.guess}"/>
	</h:form>
	
	<h:outputText value="Bravo" rendered="#{guessANumberBean.result eq true}"/>
	<h:outputText value="Perdu" rendered="#{guessANumberBean.result eq false}"/>
</body>
</html>