<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">



<h:head>
<meta charset="UTF-8"></meta>
<title>Register</title>
<link href="css/eventCreation.css" rel="stylesheet" type="text/css"></link>
<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'></link>
</h:head>
<h:body>
	<div class="wrapper">
		<h1>Register</h1>
		<h:form class="form">

			<h:inputText id="username" value="#{login.username}"
				a:placeholder="Entrer un nom d'utilisateur" />
			<h:message for="username" style="color:red" />
			<h:inputSecret id="password" value="#{login.password}"
				a:placeholder="Entrer votre mot de passe" />
			<h:message for="password" style="color:red" />
			<h:inputSecret id="password2" value="#{login.password2}"
				a:placeholder="Entrer votre mot de passe" />
			<h:message for="password2" style="color:red" />
			<h:commandButton value="S'enregister !" action="#{login.register}" />

		</h:form>
	</div>
	<p class="optimize">Optimized for Javengers!</p>
</h:body>
</html>