<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
<link href="css/bandeau.css" rel="stylesheet" type="text/css"/>
</h:head>
<ul class="bandeau">
  <li> <a> #{bandeau.username} </a> </li>
  <li> <a style="color:green"> #{bandeau.message} </a> </li>
  <li style="float:right"> <a class="active" href="logout.xhtml">Logout</a> </li>
</ul>
  <br/>
  <br/>
</html>
